/**
 * Базовые стили для всего сайта
 */
body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}


/**
 * Другие стили
 */
.navbar {
    width: 80%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li{
    display:inline-block;
}
.navbar-menu li a{
    display:inline-block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;
}
.navbar-menu li a:hover{
    opacity: 1;

}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}
.callback{
    margin-left: 20px;
    padding: 20px 20px;
    background-color: coral;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(255, 127,80, .2);

}
.callback:hover{
    transform: scale(1.04);
    color: white;
    box-shadow: 0 9px 9px rgba(255, 127,80, .5);
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: black;
    transition: all 0.07s ease-in-out;
}
.navbar-brand:hover{
    color: coral;
}
