<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML & CSS практика от AVIS TV</title>

    <!-- Bootstrap reboot (для сброса стилей) -->
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

    <!-- Bootstrap сетка -->
    <!-- Подключение CSS-файла Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Подключение JS-файла Bootstrap (необязательно, если вам не нужна поддержка интерактивных компонентов Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Шрифты с Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Стили сайта -->
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/books.css">
</head>
<body>
<script src="js/menu-script.js"></script>
<div class="container mt-5" >
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="product">
                <div class="image">
                    <img src="images/book.jpg" alt="">
                </div>
<!--                /image-->
                <div class="info" >
                    <h5>Name of book</h5>
                    <h5>Author</h5>
                    <ul class="rating">
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star-half"></ion-icon></li>
                    </ul>
                    <div class="info-price">
                        <span class="price">230</span>
                        <button class="add-to-cart"><ion-icon name="cart-outline"></ion-icon></button>
                    </div>
                </div>
<!--                /info-->
            </div>

<!--            /product-->
        </div>
        <div class="col-12 col-md-4">
            <div class="product">
                <div class="image">
                    <img src="images/book.jpg" alt="">
                </div>
                <!--                /image-->
                <div class="info" >
                    <h5>Name of book</h5>
                    <h5>Author</h5>
                    <ul class="rating">
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star-half"></ion-icon></li>
                    </ul>
                    <div class="info-price">
                        <span class="price">230</span>
                        <button class="add-to-cart"><ion-icon name="cart-outline"></ion-icon></button>
                    </div>
                </div>
                <!--                /info-->
            </div>

            <!--            /product-->
        </div>
        <div class="col-12 col-md-4">
            <div class="product">
                <div class="image">
                    <img src="images/book.jpg" alt="">
                </div>
                <!--                /image-->
                <div class="info" >
                    <h5>Name of book</h5>
                    <h5>Author</h5>
                    <ul class="rating">
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star-half"></ion-icon></li>
                    </ul>
                    <div class="info-price">
                        <span class="price">230</span>
                        <button class="add-to-cart"><ion-icon name="cart-outline"></ion-icon></button>
                    </div>
                </div>
                <!--                /info-->
            </div>

            <!--            /product-->
        </div>
        <div class="col-12 col-md-4">
            <div class="product">
                <div class="image">
                    <img src="images/book.jpg" alt="">
                </div>
                <!--                /image-->
                <div class="info" >
                    <h5>Name of book</h5>
                    <h5>Author</h5>
                    <ul class="rating">
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star-half"></ion-icon></li>
                    </ul>
                    <div class="info-price">
                        <span class="price">230</span>
                        <button class="add-to-cart"><ion-icon name="cart-outline"></ion-icon></button>
                    </div>
                </div>
                <!--                /info-->
            </div>

            <!--            /product-->
        </div>
<!--        /col-md-4-->
    </div>
    <!--  /row-->
</div>
<!--/container-->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>