<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <head th:replace="~{fragments/libraries :: head}">
    </head>
</head>

<body>
<script src="bcross/static/js/menu-script.js" type="text/javascript" th:media="all"></script>
<form th:action="@{/books}" th:method="get">
    <select id="citySelect" name="city">
        <option value="all">Все города</option>
        <option th:each="city : ${cities}" th:value="${city.getName()}" th:text="${city.getName()}"
                th:selected="${city.getName() == selectedCity}"></option>
    </select>
    <button type="submit">Поиск</button>
</form>
<div class="container">
    <div class="row row-cols-2">
        <!-- Цикл для каждой книги -->
        <div class="col" th:each="book : ${booksOnPage.content}">
            <img style="max-width: 150px; max-height: 300px" th:if="${bookImagesMap[book.id] != null }"
                 th:src="@{'data:image/png;base64,' + ${bookImagesMap[book.id]}}"
                 alt="Обложка книги">
            <img style="max-width: 150px; max-height: 300px" th:unless="${bookImagesMap[book.id] != null}" src="bcross/static/images/emp.png" alt="Дефолтное изображение">
            <p> <span th:text="${book.title}"></span></p>
            <p> <span th:text="${book.author.name}"></span></p>
            <p> <span th:text="${book.isbn}"></span></p>
            <p> <span th:text="${book.subgenre.name}"></span></p>
            <p> <span th:text="${book.location.address}"></span></p>
        </div>
    </div>
</div>
<nav aria-label="...">
    <ul class="pagination pagination-lg" style="display: flex; justify-content: center;">
        <li class="page-item" th:classappend="${pageNumber == booksOnPage.number ? 'active' : ''}" th:each="pageNumber : ${numbers}">
            <a class="page-link"  th:href="@{/books(page=${pageNumber}, city=${selectedCity})}" th:text="${pageNumber+1}"></a>
        </li>
    </ul>
</nav>
<div th:include="fragments/footer :: footer"></div>
</body>


</html>